*.o
*.lo
Makefile
Makefile.in
*.la
.deps/
.libs/
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
libtool
ltmain.sh
regressiontest/mvrtree/Exhaustive
regressiontest/mvrtree/Generator
regressiontest/mvrtree/MVRTreeLoad
regressiontest/mvrtree/MVRTreeQuery
regressiontest/rtree/Exhaustive
regressiontest/rtree/Generator
regressiontest/rtree/RTreeBulkLoad
regressiontest/rtree/RTreeLoad
regressiontest/rtree/RTreeQuery
regressiontest/tprtree/Exhaustive
regressiontest/tprtree/Generator
regressiontest/tprtree/TPRTreeLoad
regressiontest/tprtree/TPRTreeQuery
docs/build
CMakeFiles/
src/CMakeFiles/
bin/
CMakeCache.txt
cmake_install.cmake
src/cmake_install.cmake
install_manifest.txt
