.DS_Store
*.suo
*.obj
*.bak
*.dll
*.ilk
*.exp
*.lib
*.pdb
*.o
*.lo
*.la
*build*
.idea
CMakeLists.txt.user
CMakeFiles/
CMakeCache.txt
docs/build
install_manifest.txt
docs/doxygen/html*/
docs/doxygen/xml
