*.o
*.lo
Makefile
Makefile.in
*.la
.deps/
.libs/
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
libtool
ltmain.sh
test/mvrtree/Exhaustive
test/mvrtree/Generator
regressiontest/mvrtree/MVRTreeLoad
test/mvrtree/MVRTreeQuery
test/rtree/Exhaustive
test/rtree/Generator
test/rtree/RTreeBulkLoad
test/rtree/RTreeLoad
test/rtree/RTreeQuery
test/tprtree/Exhaustive
test/tprtree/Generator
test/tprtree/TPRTreeLoad
test/tprtree/TPRTreeQuery
docs/build
CMakeFiles/
src/CMakeFiles/
bin/
CMakeCache.txt
cmake_install.cmake
src/cmake_install.cmake
install_manifest.txt
