Source: libspatialindex1
Priority: optional
Maintainer: Sean Gillies <sgillies@frii.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: libspatialindex1-dev
Section: libdevel
Architecture: any
Depends: libspatialindex1 (= ${Source-Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libspatialindex1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
