Source: libspatialindex1
Priority: optional
Maintainer: Sean Gillies <sgillies@frii.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: libspatialindex1-dev
Section: libdevel
Architecture: any
Depends: libspatialindex1 (= ${Source-Version})
Description: Development libraries for the spatialindex framework
 The spatialindex framework is a general framework for developing spatial
 indices. Currently defines generic interfaces, provides simple main memory
 and disk based storage managers and a robust implementation of an R*-tree,
 an MVR-tree and a TPR-tree.

Package: libspatialindex1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: General framework for developing spatial indices.
 A general framework for developing spatial indices. Currently defines generic
 interfaces, provides simple main memory and disk based storage managers and a
 robust implementation of an R*-tree, an MVR-tree and a TPR-tree. In addition
 the library includes a 3-dimensional R-tree visualization plug-in (requires
 Java3D runtime in order to run).
